@page "/Logout"
@inject NavigationManager NavManager

<h2>Logout Successful</h2>

<EditForm OnValidSubmit="@RedirectToLogin">
   @* <DataAnnotationsValidator />
   <ValidationSummary /> *@
   <button type="submit" class="btn btn-light">Login</button>
</EditForm>

@code {
    private async Task RedirectToLogin() => NavManager.NavigateTo("/Login");
}
